body {
    background-color: rgb(255, 255, 255);
    margin: 0 10%;
    font-family: sans-serif;
    background-color: rgb(255, 244, 230);
}
h1{
    text-align: center;
    font-family: serif;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid #f48e5a;
    font-size: 60px;

}
h2{
    color: #000000;
    font-size: 1em;

}

pre{
    font-family: serif;
    font-weight:lighter;
    height: 6px;
}
.title{
    width: auto;
    max-height: 350px;
    min-height: 200px;
    height: auto;
    border: none;
    background-color: #f48e5a;
    display: block;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.title p{
    font-size: 20px;
    text-align: center;
    color:  #2b2b2b;
}
.block{
    background-color: rgb(139, 245, 255);
    width: auto;
    max-width: 700px;
    min-width: 500px;
    height: auto;
    max-height: 350px;
    min-height: 180px;
    box-shadow: 8px 8px 8px p8x rgb(0, 78, 87);
}
.block p{
    font-size: 18px;;
}
.block h2{
    font-size: 22px;
    font-family: initial;
    font-style: italic;
    text-align: left;
    margin-left: 10px;
}
.tot{
    background-color: rgb(221, 161, 255);
    width: auto;
    max-width: 700px;
    min-width: 500px;
    height: auto;
    max-height: 350px;
    min-height: 180px;
    box-shadow: 8px 8px 8px p8x rgb(0, 78, 87);
    margin-left: auto;
    margin-right: auto;
}
.tot h2{
    font-size: 25px;
    font-family: initial;
    font-style: italic;
    text-align: center;
}
.tot li{
    text-align: left;
    margin-left: 10px;
    font-size: 18px;
}
.fin{
    background-color: rgb(141, 255, 175);
    width: auto;
    max-width: 700px;
    min-width: 500px;
    height: auto;
    max-height: 360px;
    min-height: 190px;
    box-shadow: 8px 8px 8px p8x rgb(0, 78, 87);
    margin-left: auto;
   
}
.fin pre{
    font-size: 17px;
    text-emphasis-style: inherit;
}
.fin h2{
    font-size: 22px;
    text-align: center;
    font-style: italic;
}
